
.center{
    display: block;
    margin-left: auto;
    margin-right:auto;
    border-radius: 100px;
}
    
.header{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWRoL63GMGyfF4LtwvKra_6oDdT5rlbZu_FRyVMNrGpZ6RIbgx");
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right:auto;
    max-width: 100%;
    background-size: cover;
    height:200px;

    
    



span{
    color: mediumblue;
}
h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.me , h1{
    font-style: oblique;
    font-size: 20px;
}
.icon-bar a:hover {
   
  }
  
  .github {
    background: #3B5998;
    color: white;
  }
  
  .instagram {
    background: #55ACEE;
    color: white;
  }
  
  .facebook {
    background: #dd4b39;
    color: white;
  }
  